<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trello</title>
        <link rel="stylesheet" href="../designs/signIn.css">
        <link rel = "icon" href = "../images/titleIcon.png" type = "image/x-icon">
    </head>
    <body>
        <div class="topnav">
            <a href="index.html">Home</a>
            <a href="kanban.html">Tasks</a>
            <a href="signUp.html">Sign Up</a>
            <a class="active" href="signIn.html">Sign In</a>
        </div>
        <form class="container">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Your.username" required />
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
            <input class="btn" type="submit" value="Login" />
        </form>
        <div class="container signup">
            <p>Do not have an account yet? <a href="signUp.html">Sign up</a>.</p>
        </div>
    </body>
</html>

